<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HeavensGate"
        tools:targetApi="31">
        <activity
            android:name=".Activities.DonateNowActivity"
            android:exported="true"
            android:requestLegacyExternalStorage="true">
        </activity>
        <receiver android:name="com.razorpay.RzpTokenReceiver"
        android:exported="true"
        tools:replace="android:exported">
        <intent-filter>
            <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
        </intent-filter>
    </receiver>
        <meta-data
        android:name="com.razorpay.ApiKey"
        android:value="rzp_test_5FCHZjoDEbaqUW"/>
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <activity
            android:name=".Activities.Fund_SignIn"
            android:exported="false" />
        <activity
            android:name=".Activities.donatornmain"
            android:exported="true" />
        <activity
            android:name=".Activities.Choice"
            android:exported="false" />
        <activity
            android:name=".Activities.fundsignup"
            android:exported="false" />
        <activity
            android:name=".Activities.donsignup"
            android:exported="false" />
        <activity
            android:name=".Activities.phnsignin"
            android:exported="false" />
        <activity
            android:name=".Activities.SignIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".spalsh"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>